/* html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
/* Add a black background color to the top navigation */
.carousel .carousel-item {
  width: 100%;
}
.upper {
  font-family: monospace;
}
body {
  background-color: #FFF56C;
  font-family: monospace;
    /* overflow-y: scroll; */
}
.card-image {
  height: 200px;
  width: 200px;
}

.menu {
  background-color: white;
  font-weight: bold;
}

#foodlist {
  background-color: whitesmoke;
}